* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --color1: #bb7ab2;
  --color2: #7fc9cb;
  --color3: #ccc;
  --color4: rgb(190, 190, 190);
  --color5: rgb(216, 216, 216);
  --color6: rgb(255, 255, 255);
  --color7: #ef922e;
  --color8: #b983ff;
  --color9: #94b3fd;
  --color10: #94daff;
  --color11: #77acf1;
  --color12: #3edbf0;
  --color13: #90e9e7; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --color1: #bb7ab2;
  --color2: #7fc9cb;
  --color3: #ccc;
  --color4: rgb(190, 190, 190);
  --color5: rgb(216, 216, 216);
  --color6: rgb(255, 255, 255);
  --color7: #ef922e;
  --color8: #b983ff;
  --color9: #94b3fd;
  --color10: #94daff;
  --color11: #77acf1;
  --color12: #3edbf0;
  --color13: #90e9e7; }

html {
  font-size: 16px;
  /* 16px = 1 rem */ }

nav {
  overflow: hidden;
  margin-bottom: 50px; }

.topnav a {
  float: left;
  display: flex;
  color: gray;
  text-align: left;
  padding: 1.6rem 1rem;
  text-decoration: none;
  font-size: 17px; }

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: blanco; }

.topnav a.active {
  background-color: #04aa6d;
  color: white; }

.topnav .icon {
  display: none; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

a {
  text-decoration: none;
  color: #7c7c7c;
  font-family: "Open Sans", sans-serif; }

ul li.paraAbajo {
  color: #7c7c7c;
  display: block;
  padding: 20px;
  list-style-type: decimal-leading-zero; }

h1 {
  color: #bb7ab2;
  font-size: 90px;
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin: 20px; }

h2 {
  text-transform: uppercase;
  color: #ef922e;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding: 20px 0px 0px 20px; }

.banner1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 50px; }

.caja {
  display: grid;
  grid-template-rows: 1fr; }

.padre {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: minmax(50px auto);
  grid-template-areas: "combos combos combos" "combo1 combo2 combo3";
  column-gap: 20px;
  padding: 10px;
  background-color: var(--color7); }

.combos {
  grid-area: combos;
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding: 40px;
  gap: 20px;
  margin: 20px;
  background-color: var(--color9); }

@media screen and (max-width: 800px) {
  .combos {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-rows: 200px;
    margin: 20px;
    padding: 40px; } }

@media screen and (max-width: 500px) {
  .combos {
    width: 60%;
    grid-template-columns: repeat(1, 1fr); } }

.combo1 {
  grid-area: combo1;
  background-color: gray;
  text-align: center;
  border: 1px solid white 168, 168, 168;
  border-radius: 5px;
  gap: 10px;
  padding: 20px;
  margin: 20px; }

.combo2 {
  grid-area: combo2;
  background-color: white;
  text-align: center;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  gap: 20px;
  padding: 10px;
  margin: 10px; }

.combo3 {
  grid-area: combo3;
  display: flex;
  flex-direction: row;
  background-color: gray;
  text-align: center;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
  margin: 10px; }

p {
  color: #7c7c7c;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2pt;
  padding: 10px; }

.h3 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background-color: #7c7c7c; }

.pideloya {
  border: 0px none;
  background-color: var(--color2);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--color3);
  border-radius: 5px;
  padding: 8px 5px;
  margin: 20px; }

.banner2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 50px;
  padding: 40px; }

section.proceso {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 10px; }

section.proceso1 {
  background-color: #f5f5f5;
  width: 456px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px; }

section.proceso2 {
  background-color: #f5f5f5;
  width: 456px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px; }

section.proceso3 {
  background-color: #f5f5f5;
  width: 456px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px; }

footer {
  width: 100%;
  background: black;
  color: white;
  margin: auto;
  padding: 30px 30px 60px 30px; }

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  min-width: 360px;
  margin: auto; }

.container-body {
  display: flex;
  justify-content: space-between; }

.colum1 {
  max-width: 400px; }

.colum1 p {
  font-size: 14px;
  padding: 0px;
  color: white;
  background: black; }

.colum1 img {
  width: 60%;
  padding: 10px 0px 20px 0px; }

.colum2 {
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 30px; }

.row {
  margin-top: 20px; }

.rowlabel {
  color: var(--color5);
  font-size: 15px; }

.td1colum2 {
  width: 5%;
  padding-right: 10px; }

.td3colum2 {
  width: 2px;
  height: 2px;
  padding-right: 10px; }

.colum3 {
  max-width: 400px; }

.row2 {
  margin-top: 20px;
  display: flex; }

/*QUIENES SOMOS*/
section.quienesSomos {
  display: flex;
  flex-direction: column;
  margin: 20px; }

main.quienesSomos2 {
  display: flex;
  flex-direction: row;
  padding: 20px 0px 20px 20px;
  align-items: flex-start; }

section.quienesSomos3 {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 0px;
  align-items: flex-start; }

p.quienesSomos {
  width: 70%;
  padding: 10px 0px 20px 0px; }

p.quienesSomos2 {
  width: 50%;
  padding: 10px 10px 10px 10px; }

/*combos interior*/
p.combosInterior {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px; }

section.combo1Interior {
  background-color: #f5f5f5;
  width: 100%px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px; }

main.combosinterior {
  display: flex;
  flex-direction: row;
  flex-direction: column; }

h2.titulo {
  padding: 10px 10px 10px 10px; }

section.combo2Interior {
  background-color: #f5f5f5;
  width: 100%px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px; }

section.combo3Interior {
  background-color: #f5f5f5;
  width: 100%px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px; }

/*trabajos*/
.containerGalery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.8fr 1.6fr 1.8fr 1.6fr 1.8fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navBar navBar navBar navBar navBar" "banner1 banner1 banner1 banner1 banner1" "description description description description description" "galery galery galery galery galery" "galery galery galery galery galery" "galery galery galery galery galery" "foother foother foother foother foother"; }

.banner1Galery {
  grid-area: banner1; }

.banner1Galery img {
  width: 100%;
  height: 50%;
  object-fit: cover; }

.description {
  grid-area: description; }

.description h3 {
  margin: 0 center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  padding: 10px;
  background-color: #7c7c7c; }

.description p {
  margin: 0 center;
  text-align: justify;
  color: #2b2b2b;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2pt;
  padding: 10px; }

.galery {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: 200px;
  grid-gap: 20px;
  justify-content: center; }

.galery .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galery .box-img figure {
  width: 100%;
  height: 100%; }

.galery .box-img:nth-child(1) {
  grid-column-start: span 2; }

.galery .box-img:nth-child(4) {
  grid-row-start: span 2; }

@media screen and (max-width: 800px) {
  .galery {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px; }
  .galery .box-img:nth-child(1) {
    grid-column-start: span 1; } }

@media screen and (max-width: 500px) {
  .galery {
    width: 60%;
    grid-template-columns: repeat(1, 1fr); }
  .galery .box-img {
    height: 200px; } }

.galery img:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.foother {
  grid-area: foother; }

.foother img {
  width: 60%; }

@media screen and (max-width: 800px) {
  .quienesSomos .combos {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-rows: 200px;
    margin: 20px;
    padding: 40px; } }

@media screen and (max-width: 500px) {
  .quienesSomos .combos {
    width: 60%;
    grid-template-columns: repeat(1, 1fr); } }
